/* Body */
* ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link{
  border: 1px solid #fd7e14;
  border-radius: 5px;
  margin: 10px;
}

.banner{
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;

}

.banner img{
  width: 100%;
  height: 100%;
}

.banner h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3rem;
  text-shadow: 3px 0px 2px rgba(0,0,0,0.46);
}

.rounded-lg{
  transition: transform .2s;
}
.rounded-lg:hover {
  transform: scale(1.07);
   
}

.card-img-top{
  width: 200px;
  height: 300px;
}

.card-body{
  background-color: #fd7e14;
  ;
}

div .card{
  border:1.8px black;
  -webkit-box-shadow: 0px 7px 15px 1px rgba(0,0,0,0.71); 
  box-shadow: 0px 7px 15px 1px rgba(0,0,0,0.71);
}

.cartas{
  margin-bottom: 130px;
}

.turno{
  margin-top: 100px; 
}

footer{
  margin-top: 150px;
}

/* From uiverse.io Boton reservar*/
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     #fc7303
     #fd7e14
     #fd7e14
     #fd7e14
   );
 }
 
 .front {
  display: flex;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: black;
  background: #fd7e14;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }

/*footer*/

div .contacto{
  text-align-last: center;
}

/* turnos.html*/


div.formulario{
  display: none;
  width: 80%;
  border: solid orange;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 40px;
  -webkit-box-shadow: 2px 5px 15px 1px #000000; 
  box-shadow: 2px 5px 15px 1px #000000;
}


/* Iteracion con html*/


.form-control p {
  visibility: hidden;
  
}

.form-control.falla p {
  visibility: visible;
  color:red
}

.form-control.ok input {
  border: 0.1px solid;
  border-color: #08ffc8;
}

button.swal2-confirm.swal2-styled{
  color: white;
  background-color: red;
}

button.btn-close{
  border: 1px solid black;
  background-color: red;
}

.cerrarBoton{
  display: flex;
  justify-content: end;
}

/* tabla turno */


.registrosTabla{
  border: 2px solid black;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 3px;
}


.titulosTurnos{
  margin: 1px;
}

.datosTurnos{
  margin-bottom: 2px;
}


